In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
%matplotlib inline

In [55]:
df = pd.read_csv('nfl_2018_top_50_wrs_td.csv')

In [11]:
df.head()

,player,team,age,position,games,games_started,targets,receptions,catch_%,yards,yards_reception,td,long,receptions_game,yards_game,fumbles
0,Antonio Brown,PIT,30,WR,15,15,168,104,61.90%,1297,12.5,15,78,6.9,86.5,0
1,Davante Adams,GNB,26,WR,15,15,169,111,65.70%,1386,12.5,13,57,7.4,92.4,0
2,Eric Ebron,IND,25,TE,16,8,110,66,60.00%,750,11.4,13,53,4.1,46.9,1
3,Tyreek Hill,KAN,24,WR,16,16,137,87,63.50%,1479,17.0,12,75,5.4,92.4,0
4,DeAndre Hopkins,HOU,26,WR,16,16,163,115,70.60%,1572,13.7,11,49,7.2,98.3,2

In [53]:
df.columns

Index(['player', 'team', 'age', 'position', 'games', 'games_started',
       'targets', 'receptions', 'catch_%', 'yards', 'yards_reception', 'td',
       'long', 'receptions_game', 'yards_game', 'fumbles'],
      dtype='object')

In [56]:
pd.get_dummies(df['position'])

    RB  TE  WR
0    0   0   1
1    0   0   1
2    0   1   0
3    0   0   1
4    0   0   1
5    0   1   0
6    0   0   1
7    0   0   1
8    0   0   1
9    0   0   1
10   0   0   1
11   0   0   1
12   0   1   0
13   0   0   1
14   0   0   1
15   0   0   1
16   1   0   0
17   0   0   1
18   0   0   1
19   0   0   1
20   0   0   1
21   0   0   1
22   1   0   0
23   0   0   1
24   1   0   0
25   0   0   1
26   0   0   1
27   0   0   1
28   0   0   1
29   0   0   1
30   0   0   1
31   0   1   0
32   0   0   1
33   0   1   0
34   0   0   1
35   0   0   1
36   0   0   1
37   0   0   1
38   0   1   0
39   0   1   0
40   0   0   1
41   0   0   1
42   1   0   0
43   0   0   1
44   0   0   1
45   0   0   1
46   1   0   0
47   0   0   1
48   0   0   1
49   0   0   1

In [44]:
top_50 = df.drop(['position', 'catch_%', 'player', 'team'], axis=1)
top_50.head()

#top_50 = pd.to_numeric(top_50)

,age,games,games_started,targets,receptions,yards,yards_reception,td,long,receptions_game,yards_game,fumbles
0,30,15,15,168,104,1297,12.5,15,78,6.9,86.5,0
1,26,15,15,169,111,1386,12.5,13,57,7.4,92.4,0
2,25,16,8,110,66,750,11.4,13,53,4.1,46.9,1
3,24,16,16,137,87,1479,17.0,12,75,5.4,92.4,0
4,26,16,16,163,115,1572,13.7,11,49,7.2,98.3,2

In [14]:
spot = df['position']
spot.head()

0    WR
1    WR
2    TE
3    WR
4    WR
Name: position, dtype: object

In [45]:
df.position[df.position == 'RB'] = 2
df.position[df.position == 'WR'] = 1
df.position[df.position == 'TE'] = 0
spot.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    1
1    1
2    0
3    1
4    1
Name: position, dtype: object

In [47]:
spot = pd.to_numeric(spot)

In [40]:
type(spot)

spot.value_counts()

1    38
0     7
2     5
Name: position, dtype: int64

In [41]:
spot

0     1
1     1
2     0
3     1
4     1
5     0
6     1
7     1
8     1
9     1
10    1
11    1
12    0
13    1
14    1
15    1
16    2
17    1
18    1
19    1
20    1
21    1
22    2
23    1
24    2
25    1
26    1
27    1
28    1
29    1
30    1
31    0
32    1
33    0
34    1
35    1
36    1
37    1
38    0
39    0
40    1
41    1
42    2
43    1
44    1
45    1
46    2
47    1
48    1
49    1
Name: position, dtype: object

In [67]:
#The model we're using
from sklearn import tree

# A convenience for displaying visualizations.
from IPython.display import Image

# Packages for rendering our tree.
#import pydotplus
#import graphviz

# Initialize and train our tree.
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=4
)

cross_val_score(decision_tree, top_50, spot, cv=10)

/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 5 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.83333333, 0.5       , 0.66666667, 0.66666667, 0.5       ,
       0.6       , 0.6       , 1.        , 1.        , 1.        ])

In [68]:
'''
##Experiencing issues importing graphviz##
# Render our tree.
dot_data = tree.export_graphviz(
    decision_tree, out_file=None,
    feature_names=top_50.columns,
    class_names=['WR', 'TE'],
    filled=True
)
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())
'''

"\n##Experiencing issues importing graphviz##\n# Render our tree.\ndot_data = tree.export_graphviz(\n    decision_tree, out_file=None,\n    feature_names=top_50.columns,\n    class_names=['WR', 'TE'],\n    filled=True\n)\ngraph = pydotplus.graph_from_dot_data(dot_data)\nImage(graph.create_png())\n"

In [69]:
import time
start_time = time.time()

decision_tree.fit(top_50, spot)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.001544952392578125 seconds ---

In [70]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = top_50
Y = spot
X = X.dropna(axis=1)
cross_val_score(rfc, X, Y, cv=10)

/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 5 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.66666667, 0.66666667, 0.66666667, 0.83333333, 0.66666667,
       0.6       , 0.6       , 1.        , 1.        , 1.        ])

In [71]:
start_time = time.time()

rfc.fit(X, Y)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.012996912002563477 seconds ---

In [76]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

rfc.fit(X, Y)
rfc.score(X, Y)

feature_importances = pd.DataFrame(rfc.feature_importances_, index = X.columns,
                                  columns = ['importance']).sort_values('importance', ascending = False)

feature_importances

                 importance
yards_reception    0.187660
long               0.136534
yards_game         0.116725
fumbles            0.092973
games_started      0.089868
games              0.068639
yards              0.060905
age                0.054001
td                 0.053247
receptions         0.051721
receptions_game    0.050040
targets            0.037687